<h1>DBZ Characters</h1>
<div class="row">
  <div class="col">
    <h4>Listado</h4>
    <ul class="list-group">
      <li class="list-group-item border">Goku - 1000</li>
      <li class="list-group-item border">Vegeta - 10000</li>
      <li class="list-group-item border">Trunks - 8000</li>
    </ul>
  </div>
  <div class="col">
    <h4>Agregar Personaje</h4>
    <form class="row">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="power">Poder</label>
        <input type="text" class="form-control" id="power" placeholder="Poder">
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
</div>
