<h4>Agregar Personaje</h4>
<form class="row" (ngSubmit)="addCharacter()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Nombre"
      [(ngModel)]="character.name
">
    {{character.name}}
  </div>
  <div class="form-group">
    <label for="power">Poder</label>
    <input
      type="text"
      class="form-control"
      id="power"
      name="power"
      placeholder="Poder"
      [(ngModel)]="character.power">
    {{character.power}}
  </div>
  <pre>{{character | json}}</pre>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
